$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
@import "../variables/variables.scss";

body {
    background-color: lightblue;
}
.container{
    // height: 300px;
    width: 650px;
    margin: 0 auto;
}

p{
    border: 1px solid red;
    margin: 0;
    padding: 0;
    background-color: green;
}

.parent{
    margin: 0 auto;
    display: grid;
    // grid-template-columns: auto auto auto;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 10px;
    grid-template-areas: 
    "a b b b b c"
    "d b b b b e"
    "f b b b b g"
    "k k m m n n";
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

.itema{
    border: solid red 1px;
    grid-area: a;


}   

.itemb{
    // grid-column-start: 2;
    // grid-column-end: 6;
    // grid-row-start: 1;
    // grid-row-end: 4;
    grid-area: b;
    background: url("https://i.pinimg.com/originals/76/92/79/76927939ad6134c1b5b0fa472803ca4b.png");
    

}

.itemc{
    grid-area: c;   
    background-color: #970397;
}
.itemg{
    grid-area: g;
    background-color:#9c27b0;
}

.itemf{
    grid-area: f;
    background-color: #4d7f8f;
}

.iteme{
    grid-area: e;
    background-color: #5dd7fe;
}

.itemd{
    grid-area: d;
    background-color: #e6ade6;
}
.itemk{
    // grid-column-start: 1;
    // grid-column-end: 3;
    grid-area: k;
    background-color: #b248b2;
}

.itemm{
    // grid-column-start: 5;
    // grid-column-end: 7;
    grid-area: m;
    background-color: #cd36cd;
    
}

.itemn{
    // grid-column-start: 3;
    // grid-column-end: 5  ;
    grid-area: n;
    background-color: #970397;
}


@media screen and(max-width: 1100px){
    .parent{

        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        grid-template-rows: repeat(10, 100px);
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "k"
        "m"
        "n";
    }
}


// .itema:hover ~
//     .itemb {
//         filter: blur(10px);
//     }

// .itemc:hover ~
//     .itemb {
//         filter: blur(10px);
//     }
//  .itemd:hover ~
//     .itemb {
//         filter: blur(10px);
//     }
//  .iteme:hover ~
//     .itemb {
//         filter: blur(10px);
//     }
// .itemf:hover ~
//     .itemb {
//         filter: blur(10px);
//     }
//  .itemg:hover ~
//     .itemb {
//         filter: blur(10px);
//     }
   
// .itemk:hover ~
//     .itemb {
//         filter: blur(10px);
//     }
// .itemm:hover ~
//     .itemb {
//         filter: blur(10px);
//     }
// .itemn:hover ~
//     .itemb {
//         filter: blur(10px);
//     }
    // .itemc, .itemd, .iteme, .itemf,.itemg,.itemk,.itemm,.itemn

    .item{
        transition: filter ease .3s;
    }

    .parent:hover > .item:not(:hover) {
                filter: blur(7px);
    }